{% extends "base.html" %}
{% block content %}
<br><br>
<div class="flex">    
    <div class="pd-20 width-25">
        <h3 class="widget-header pd-10">Сведения об образовательной организации</h3>		
        <div class="widget-body">
            <ul class="mod-list">
                <li class="nav-item">
                    <a href="/sveden/common" aria-current="page">Основные сведения</a>
                </li>
                <li class="nav-item">
                    <a href="#">Структура и органы управления образовательной организацией</a>
                </li>
                <li class="nav-item">
                    <a href="#">Документы</a>
                </li>
                <li class="nav-item">
                    <a href="#">Руководство. Педагогический состав</a>
                </li>
                <li class="nav-item">
                    <a href="#">Материально-техническое обеспечение и оснащённость образовательного процесса</a>
                </li>
                <li class="nav-item">
                    <a href="#">Платные услуги</a>
                </li>
                <li class="nav-item">
                    <a href="#">Финансово-хозяйственная деятельность</a>
                </li>
                <li class="nav-item">
                    <a href="#">Вакантные места для приема (перевода)</a>
                </li>
                <li class="nav-item">
                    <a href="#">Доступная среда</a>
                </li>
                <li class="nav-item">
                    <a href="#">Международное сотрудничество</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="pd-20"> 
        <div class="main-contant-block">
            <div class="page-header pd-20 widget-header">
                <h1 class="mg-none">Основные сведения</h1>
            </div>
            <div class="content-body pd-20">
                <p>
                    Полное официальное наименование образовательной организации: <strong>Автономная некоммерческая организация 
                    Детский оздоровительный центр «Волна»</strong><br><br>
                    Сокращенное официальное наименование образовательной организации: <strong>АНО ДОЦ «ВОЛНА»</strong><br><br>
                    Учредитель организации: <strong>Отдел по делам культуры, молодежи и спорта администрации Ивановского 
                    муниципального района</strong><br>600000, Ивановская область, район Ивановский, село Иваново, 
                    улица Иваново, 1.
                    <br>Начальник отдела <strong>Иванов Иван Иванович</strong> +7(999)999-99-99<br>
                    <br>Собственник организации: <strong>Администрация Ивановского муниципального района</strong>
                    <br>600000, область Ивановская, район Ивановский, село Иваново, улица Иваново, 1.
                    <br>e-mail: <b>ivanovo-administration@mail.ru</b><br>+7(999)999-99-99;<br>Глава Администрации Ивановского
                    муниципального района <strong>Иванов Иван Иванович</strong>
                </p>
                <table border="1" class="MsoTableGrid" style="border: none;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="width: 26px; border-width: 1pt; border-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">1</p>
                            </td>
                            <td style="width: 180px; border-top-width: 1pt; border-right-width: 1pt; border-bottom-width: 1pt; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; border-left: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Руководитель</p>
                            </td>
                            <td style="width: 470px; border-top-width: 1pt; border-right-width: 1pt; border-bottom-width: 1pt; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; border-left: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Иванов Иван Иванович</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">2</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Адреса</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Юридический адрес:</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">600000, Ивановская область, Ивановский район, село Иваново, улица Иваново, 1.</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Адрес фактического места нахождения организации:</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">600000, Ивановская область, Ивановский район, село Иваново, улица Иваново, 1.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">3</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Телефон/факс</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">+7(999)999-99-99</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">4</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Адрес электронной почты</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><a href="mailto:volna-oficcial@obl00.ru" base="">volna-oficcial@obl00.ru</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">5</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Режим работы</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Режим работы: Круглогодично</p>
                            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Часы работы: 8:00 - 16:00</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">6</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Тип организации</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Оздоровительный детский центр с круглогодичным действием</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">7</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Организационно-правовая форма</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Автономная некоммерческая организация</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><a href="#">Свидетельство о регистрации</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">8</p>
                            </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Дата создания</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">2000 год</p>
                            </td>
                            </tr>
                                <tr>
                            <td style="width: 26px; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0cm 5.4pt;">
                            <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center">9</p>
                                </td>
                            <td style="width: 180px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Реквизиты лицензии на осуществление деятельности</p>
                            </td>
                            <td style="width: 470px; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt;">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Серия 01 Л 01 № 010101, регистрационный номер № 01</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">от 01 мая 2001.</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Срок действия бессрочно</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><a href="#">Лицензия</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pd-20">
        <div class="pd-20 logo-box">
            <a href="#">
                <img src="{{ url_for('static', filename='дети.png')}}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}