{% extends "base.html" %}
{% block content %}
<br><br>
<h1>ЖИЗНЬ В КОЛЛЕКТИВЕ</h1>

<div class="parents_container">
    <h2>
        Сам факт принадлежности к коллективу, необходимость жить в соответствии с его 
        порядками и законами изначальново спринимаются у всех по-разному.
    </h2>
    <ol>
        <li>Общение в коллективе позволяет на своем опыте освоить важные истины.</li>
        <li>Хочешь жить мирно- не провоцируй других.</li>
        <li>Играй по правилам, если ты их принимаешь, или не играй, если тебе они не нравятся</li>
        <li>Держи слово, и тебя будут уважать.</li>
    </ol><br>
    <h1>НА ТЕРРИТОРИИ ДЕТСКОГО КОМПЛЕКСА «Волна» КАТЕГОРИЧЕСКИ ЗАПРЕЩАЕТСЯ:</h1>
    <ol>
        <li>Курение (в том числе электронных сигарет)</li>
        <li>Употребление алкоголя, наркотиков и др. веществ</li>
        <li>Нарушение правил жизни в коллективе</li>
    </ol><br>
    <ul class="alert-block">
        <li>
            В случае грубых нарушений правил, детское учреждение оставляет за собой право исключать ребенка из комплекса.
            При этом деньги за неиспользованные дни путевки не возвращаются, и родители несут финансовые расходы по 
            возвращению ребенка.
        </li>
    </ul>
</div>
{% endblock %}