{% extends "base.html" %}
{% block content %}
<br><br>
<h1>ДОКУМЕНТЫ ДЛЯ ОТПРАВКИ РЕБЕНКА В ЛАГЕРЬ</h1>

<div class="parents_container">
    <ol class="parents_ol"> 
        <li>
            Путёвка (оригинал)оздоровительная или санаторно-оздоровительная с указанием контактного 
            номера телефона родителя или представителя ребёнка.
        </li> 
        <li>Обменная карта при наличии оздоровительной путёвки или санаторно- курортная карта при наличии 
            санаторно-оздоровительной путёвки.</li> <li>Справка от дерматолога об отсутствии кожных заболеваний, 
            педикулеза, чесотки.
        </li> 
        <li>Результаты исследования на гельминты (яйцеглист)</li> 
        <li>Копия сертификата прививок (с отметкой прививок против дифтерии, паротита, кори, столбняка).</li> 
        <li>Справка об отсутствии контактов с инфекционными больными (об эпидокружении),</li> 
        <li>Медицинский полис ребенка (ксерокопия).</li> 
        <li>Свидетельство о рождении или паспорт ребенка с 14-летнего и более возраста (ксерокопия).</li> 
        <li>Паспорт родителя/законного представителя ребёнка (ксерокопии страниц с ФИО и пропиской).</li> 
        <li>Добровольное соглашение на медицинское обслуживание в ДОК (заполненное родителем или законным представителем ребёнка)</li> 
    </ol><br>
    <h1>ВЕЩИ И ПРЕДМЕТЫ ЛИЧНОЙ ГИГИЕНЫ С СОБОЙ</h1>
    <h2>Одежда:</h2>
    <ul>
        <li>Открытые хлопчатобумажные футболки и сарафаны, шорты или брюки для повседневной носки – 2,3 комплекта;</li>
        <li>Спортивный костюм;</li>
        <li>Купальник, плавки (2 комплекта);</li>
        <li>Рубашки (футболки) с длинным рукавом 1,2 комплекта.</li>
        <li>5-6 пар носков;</li>
        <li>Нательное белье (трусы, майки и т. д.), с расчетом на перемену в течение 2-3 дней;</li>
        <li>Пижама, ночная сорочка;</li>
        <li>Теплый свитер (кофта), джинсы;</li>
        <li>Нарядная одежда для вечеров отдыха, дискотек;</li>
        <li>Одежда на случай дождя;</li>
        <li>Головной убор (кепка, панама, бандана);</li>
        <li>Шлёпки, сандалии, кроссовки. Тем, кто не против участвовать в конкурсе танцев, нужны туфли.</li>
        <li>Тетрадку для рисования. Ручки, карандаши;</li>
        <li>
            Записка в сумку: ФИО, телефон родителей, адрес домашний, адрес лагеря. На тот случай, 
            если потеряют или перепутают сумку, чемодан, а может, и самого ребенка – многие не помнят этих данных!
        </li>
    </ul>
    <h2>Предметы личной гигиены:</h2>
    <ul>
        <li>Мыло туалетное (обязательно с мыльницей. Лучше несколько маленьких кусочков с хорошим запахом;</li>
        <li>Мочалка, шампунь, банное мыло;</li>
        <li>
            Тюбик пасты, три дешевые зубные щетки — одну часто теряют, забывают в умывальнике. 
            Надо настоятельно убедить ребенка чистить зубы не только утром, но и на ночь;
        </li>
        <li>Расческа для волос, ножницы для ногтей;</li>
        <li>Большое банное полотенце для пляжа и душа;</li>
        <li>Средство от загара; тюбик любого детского крема;</li>
        <li>Дезодорант: роликовый антиперспирант со слабым ароматом. Но не аэрозоль!;</li>
        <li>Для девушек: косметические принадлежности для ухода за кожей и телом; гигиенические принадлежности (прокладки, тампоны);</li>
        <li>Для юношей — станок бритвенный;</li>
        <li>Средство от комаров, подходящее для вашего ребенка;</li>
        <li>Туалетная бумага, а лучше салфетки. Пригождаются в самых разных случаях, одноразовые платки;</li>
    </ul><br>
    <h1>ПОСЕЩЕНИЕ</h1>
    <h2>Время для посещения: 9:00 – 19:00</h2>
    <p>
        !!! На территории лагеря, согласно требованиям санэпидрежима и программе антитеррористических мероприятий, 
        запрещено пребывание посторонних лиц, в том числе и родителей. Однако, у Вас есть возможность пообщаться 
        с ребёнком в специально отведённом месте для встреч с детьми, а также на прогулке за пределами лагеря, взяв 
        его под расписку во время дней встречи с родителями (назначаются администрацией лагеря каждую смену).Администрация
        ДОК «ВОЛНА» оставляет за собой право запретить посещение ребёнка в неустановленное ДОК время, передачу продуктов 
        питания по результатам визуального осмотра.
    </p>
</div>

{% endblock %}