{% extends "base.html" %}
{% block content %}
<br><br>
<h1>УСЛУГИ ОЗДОРОВЛЕНИЯ:</h1>

<div class="parents_container">
    <h2>Процедуры</h2>
    <ul class="parents_ol">
        <li>Отделение лабораторной диагностики</li>
        <li>Общеклиническая лаборатория</li>
        <li>Отделение функциональной диагностики</li>
        <li>Диагностика сердечной мышцы</li>
    </ul>
</div>

<div class="parents_container">
    <h2>Отделения</h2>
    <ul class="parents_ol">
        <li>Отделение грязелечения</li>
        <li>Бальнеологическое отделение</li>
        <li>Отделение аппаратной физиотерапии</li>
        <li>Ингаляторий</li>
        <li>Отделение гидропатии</li>
        <li>Зал ЛФК</li>
        <li>Фито-бар</li>
        <li>Массажное отделение</li>
        <li>процедурный кабинет (инъекции)</li>
        <li>ЛОР-процедурный кабинет</li>
        <li>кабинет ароматерапии</li>
    </ul>
</div>



{% endblock %}